- if @shortening.errors
  = error_messages_for 'shortening'
 
- form_for @shortening do |f|
  = f.text_field :url, :size => 50
  url
  %br
  = f.text_field :custom_hash, :size => 6
  custom url (optional)
  %br
  = f.submit "Shorty"
  
  

%br
%br
%br
%br
%br

= link_to "open-source", "http://ylpp.us/DP"