= @shortening.url
= " => "
= text_field_tag "url", "http://#{DOMAIN_NAME}/#{@shortening.hash_key}", :size => 30, :style => 'text-align: center'


%br
%br
%br
%br
%br

= @shortening.clicks_count
clicks

%br

- @shortening.clicks.collect{|c| c.referer_host }.uniq.each do |referer_host|
  = referer_host || "Unknown"
  = @shortening.clicks.count(:conditions => {:referer_host => referer_host})
  %br

= link_to "Again", shortenings_url