= @shortening.url
= " => "
= text_field_tag "url", "http://#{DOMAIN_NAME}/#{@shortening.hash_key}", :size => 30, :style => 'text-align: center'


%br
%br
%br
%br
%br

= @shortening.clicks
clicks

= link_to "Again", shortenings_url