!!!
%html
  %head
    %title= yield :title

    = javascript_include_tag :defaults
    = javascript_include_tag "swfobject"
    = stylesheet_link_tag "application"

  %body
    #container
      = yield
      
    #footer
      = link_to "open-source", "http://ylpp.us/DP"
    
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-10863963-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>